#wall .tag-1 {
  display: none;
}
body #wall #tag-2 {
  display: none;
}
#wall #tag-3.slick.wicked {
  display: none;
}
#wall div.parent > #tag-4 {
  display: none;
}
body div#wall div.parent div:last-child div#tag-6 {
  display: none;
}
body div#wall div.parent #tag-5.slick {
  display: none;
}


